@import "tailwindcss";

@theme {
  --breakpoint-@3xs: 170px;
  --breakpoint-@2xs: 250px;
  --breakpoint-xs: 384px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1092px;
  --breakpoint-xl: 1192px;
  --breakpoint-2xl: 1356px;
  --breakpoint-3xl: 1580px;
}

.html,body{
  @apply w-full h-full;
  background: linear-gradient(90deg,#1C0A2E,#231135,#1F0B34,#170A23);
}

@font-face{
  font-family: 'Quicksand-Reg';
  src: url('../fonts/Quicksand-Regular.ttf') format('truetype'); 
}

.sec1Bg {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sec1Bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(23, 4, 41, 0.7), rgba(23, 8, 36, 0.7)), url('./portfolio_bg_sec1.png') center/cover no-repeat;
  z-index: 0;
  pointer-events: none;
}

.sec1Bg > * {
  position: relative;
  z-index: 1;
}

.violet-gradient {
  background: linear-gradient(180deg, #621dd8 0%, #c9bce023 65%, #ffffff00 100%);
}



